NODE RED FLOWS V 1.2.json
[{"id":"a5ecbc5e135cb5e8","type":"tab","label":"SMA Tripower 8 SE V1.2","disabled":false,"info":"Changes:\r\n\r\nSelling flow: \r\nCreated an input boolean so that the checks in others flow if electricity is beeing sold, does not depend on a figure. \r\nIt now depends on a boolean on or off.\r\n\r\nzero export flow is beeing simplified.\r\nIt is easier to understand.\r\n\r\nWhen importprice is negative onlmy start charging during this time and charge battery on the negative\r\nThis needs to be tested still!","env":[]},{"id":"9ab8aada22885506","type":"group","z":"a5ecbc5e135cb5e8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["24925854e5cc74d0","98c4593774056b3c","9f61459623721bfb","0c9fe998583add62","e08abb00f06d1ae7","8b1e0e056c350b4b","ebd12261d6277a8d","3ba37fa42414eb14","ce4f7e1dfa6a26fa","ee1c666f2570c6ed","83cbe65b602d5115","c66c43faf6131e61"],"x":34,"y":39,"w":952,"h":482},{"id":"ee93724ef816afff","type":"group","z":"a5ecbc5e135cb5e8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b0c5d975ebd082d2","7b346b9d03da2a5f","ce42b377546436a8","9f34dffa10bb0a29","0125564bb8c4ec32","4354094496a5fc16","fc8d1ad72c792502","3ea0bc43faf83cb6","7ff509aa6544d71b","68ce8249a19893a8","168f131b7f5b2ea7","99790ef0c97f3607","dda1126b839cc582","990f904a54239bbc","2e30b1a59f495751","7ba1bad999aa53fb","d2933282f7cf775c","ec39bd55d1c1b248","f27fac7242369f88","97226d384540ec7c","9cfb26d4e608f9cb","1eb6a7f104e19979","e990a91daf3f1871","06560fd65450e959","2ddbada2b85c9f2b","2be4f11d3cea128c","0e930ad2ce45c2d5","3f2e4a626f2e6e0d","916ebbdf127b44ae","42812499b9808582","d5906788e9a862e7","4ea3f93c17c8e457","359309fc63e68db6","e3677278ba563855","910f9501cbb93d7e","7e3b81dffda5aa90","a9d58f426256ac08","2a96b3b673296e7b","cf33091e38681f6b","5d8a5664d3a9710f","eaf60f9c29be39e9","714dfe8af726a1ee","17125e53f92a95ec","eca1389180e668c3","45660a5b1f7ea660","7ee372802a3dd8c9","3b2beca98bc6a253","7152c2d542d59c3c","486707643b3f8954","689eea24ba35c0bb","7bada12be3e88a28","6db13af5d4362d94","1f09579f40a5659f","85334ce2681f4d19","f80f18ab80f4bc54","7ca189cda7724503","fcd17a22c75037cd","cfeaf8dd9c68dc07","f3ee9620e9f9693a","400164f68dd2943f"],"x":74,"y":559,"w":2252,"h":1822},{"id":"e6328abac985df2c","type":"group","z":"a5ecbc5e135cb5e8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["d101fb27d689930d","1d8f15f53ec172d3","edc9d7ab5356f042","5e9733b28c983adc","a2958eda96413263","3a77bf9f5a61733d","9b1a4b297a48e8f4","a9300db717dafaca","bb012c6db3028c81","0d30091ca31dc834","121208762d465e28","9261cea8871c5809","63456ef358727845","fddee90ea54000d9","882955734b56cbeb","88fcec557f055d11","46d712d19dc7ca69","6f1e9588a2daed0a","e1e2517e097a2fce","eca445157460bea0","e2796ed78b1d3984","643f1407f60ba4ea","34773297da9741b5","8749d545a56138b3","d36edfe3d475289a","4ae74c26684327b6","e049252b36bd32dd","f4d1292fdb2d1943","b549b1cfea6be6ba","3398f06382864569","a6f208f1b64c678a","7abc1f9e47db2d40","47175aebb7212fc3","528dab66859bbb60","fcd3d3ec7115edd9","54868cd8e86b8a0c","e0dae9353621333e"],"x":74,"y":4839,"w":1972,"h":802},{"id":"cea3b0a1f2a76b11","type":"group","z":"a5ecbc5e135cb5e8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["5ac7555bf1483a7d","eda340f2554f142a","705e0d9e6555743a","906cc68ee119ea8a","32d40d4009f685d7","9e7d96865daa8820","e3d0bca2095c5604","14c9b8ee6764a5d8","a19fec4b4f5c9c26","10fc6e5ffcdba63e","278317e98280c1e3","0ad516de3b7a8f5a","0c3e287ec72b69c7","e2d750e73504a9b7","1872d4bf8412ef4e","b1df9d5abcfbfeb6","0447e5182bed3fe9","1171f8222fb94633","1cbbf7f779038a24","4505a7a23a17c498","c6e47e0a1d93dd6a"],"x":74,"y":4279,"w":1912,"h":522},{"id":"7e55bd4b7e923b76","type":"group","z":"a5ecbc5e135cb5e8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["bce01959d7a4bbb6","173eecb46a240bc5","b173c95aba8e85b1","8966b4b5815be4db","6a86b89a84f73566","900c362316b81876","b1dcbc75254bef7a","e106133671bec9b4","a618180ff67e524e","d1447ee41106892e","f373a37b87da63d5","ecd23aefe8476c97","4bb2d92a8c089c97","5c7f306c15122a05","6a51069cefc8cdc2","2f78e31c564e9d76","5be3852c9dfb5530","595260c64dbdeb6f","2f1f180648389cce","9a8d054e1977a862","ef45f81099f0852f","c49975cc3e7c2ef1","a15a88185056892f","21598e67a861ee1d","89b8395710865bcd","256d88ff1b4cf11b","916bd1013ec18046","ab1f308c508eb455","9c11d65b4f38a9c0","0b33e3f58077bf8f","527808c6d5639fe3","4a3977e0c6dee1ca","09fa3f45db36e539","256a6f4ff42d293f","5c37c5e5413eb1cb","0b7f975844db4691","318aa99535b58171","18de9d35056e24a0","296771fcc858390c","ea12cb701a6899f5","dc42af18089b39ba","23e35b6f29ca850e"],"x":74,"y":2439,"w":2252,"h":742},{"id":"09442c4a77733d8a","type":"group","z":"a5ecbc5e135cb5e8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["87af6474acedaea4","f499131e539c35a2","1904357f25a04eaf","99dc24b14e10ae93","342790acb95da9fa","9b228a39c6a2d4d8","9870507e77022fe1","b2c46bbb3b07dead","6924a28d79f6f4fa","74bb7879c96eb21c","60a3da6a75811e3c","564299c97ad66622","059412979f5544bf","1752b48c28719d16","122c0d1005052e54","90911db56682001e","ce6cca6f505ef93a","375762cd0a4d4c14","38c484cca10a9034","4c8de8d8fc6c69d0","3b6f6d4ee842c8c1","95a0ba63e3ca69cb","d6df7e012d644744","1f17d0e33e9d4b20","8fe4018f95c33032","445276076970c583","d2b29a977bdb375a","1a6d14b79e0c199f","890f5520e46cae1d","3e54d5dc94d28988","08f2b52b24b6c968","39cf46fea141ad7f","6d43969c0aeb9045","3760f4901956a180","3d3905ebd607a5c9","42bb6c63aac7b997","f220cad1cf0ba584","7bf31bc9d6462229","de4f0e8871ef0234","f183f4fc6b1a331c","2a6ceb92c03f710f","5e71e4888149be8c","8ba5ffcd2998cd6a","abf37ab745426f32","501eb11be5b64972","56c4582e548bb895","cfa70a6215e0ddb0","f0ea06f1ee63a808","8be518ed34f97389","8ef19e141d2e7046","b7a05da36d833e58"],"x":74,"y":3219,"w":2172,"h":1022},{"id":"6a554ae1e65b8cbe","type":"comment","z":"a5ecbc5e135cb5e8","name":"SMA inverter","info":"","x":130,"y":20,"wires":[]},{"id":"24925854e5cc74d0","type":"comment","z":"a5ecbc5e135cb5e8","g":"9ab8aada22885506","name":"active setpoint +/-","info":"","x":140,"y":80,"wires":[]},{"id":"98c4593774056b3c","type":"function","z":"a5ecbc5e135cb5e8","g":"9ab8aada22885506","name":"Active setpoint -2500 w (charge batt) 40149","func":"// Define the Modbus function code and register number\nvar fc = 16; // Function code for Write Multiple Registers\nvar sa = 40149; // Starting register number for \"active power setpoint\"\n\n// Define the setpoint value (-2500)\nvar setpointValue = -2500;\n\n// Convert the setpoint value to a 32-bit signed integer\nvar intValue = Math.round(setpointValue); // Round the value to the nearest integer\nvar buf = Buffer.alloc(4); // Use 4 bytes for a 32-bit signed integer\nbuf.writeInt32BE(intValue);\n\n// Create the Modbus message object\nvar message = {\n    payload: {\n        value: buf,\n        'fc': fc,\n        'unitid': 1, // Modify if needed\n        'address': sa,\n        'quantity': 4, // Number of registers to write (adjust to match the length of the payload array)\n        'datatype': 'S32', // Set the data type to S32\n        'format': 'FIX0', // Set the data format to FIX0\n        'access': 'WO', // Set the access to WO (Write Only)\n        'name': 'active power setpoint' // Set the name to match the SMA Speedwire name\n    }\n};\n\n// Send the message to the output\nreturn message;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":320,"wires":[["c66c43faf6131e61"]]},{"id":"9f61459623721bfb","type":"function","z":"a5ecbc5e135cb5e8","g":"9ab8aada22885506","name":"Active setpoint 5000 w (Discharge batt) 40149","func":"// Define the Modbus function code and register number\nvar fc = 16; // Function code for Write Multiple Registers\nvar sa = 40149; // Starting register number for \"active power setpoint\"\n\n// Define the setpoint value \nvar setpointValue = 5200;\n\n// Convert the setpoint value to a 32-bit signed integer\nvar intValue = Math.round(setpointValue); // Round the value to the nearest integer\nvar buf = Buffer.alloc(4); // Use 4 bytes for a 32-bit signed integer\nbuf.writeInt32BE(intValue);\n\n// Create the Modbus message object\nvar message = {\n    payload: {\n        value: buf,\n        'fc': fc,\n        'unitid': 1, // Modify if needed\n        'address': sa,\n        'quantity': 4, // Number of registers to write (adjust to match the length of the payload array)\n        'datatype': 'S32', // Set the data type to S32\n        'format': 'FIX0', // Set the data format to FIX0\n        'access': 'WO', // Set the access to WO (Write Only)\n        'name': 'active power setpoint' // Set the name to match the SMA Speedwire name\n    }\n};\n\n// Send the message to the output\nreturn message;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":480,"wires":[["c66c43faf6131e61"]]},{"id":"0c9fe998583add62","type":"inject","z":"a5ecbc5e135cb5e8","g":"9ab8aada22885506","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":320,"wires":[["98c4593774056b3c"]]},{"id":"e08abb00f06d1ae7","type":"inject","z":"a5ecbc5e135cb5e8","g":"9ab8aada22885506","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":480,"wires":[["9f61459623721bfb"]]},{"id":"8b1e0e056c350b4b","type":"function","z":"a5ecbc5e135cb5e8","g":"9ab8aada22885506","name":"Active setpoint 0 w (Balance) 40149","func":"// Define the Modbus function code and register number\nvar fc = 16; // Function code for Write Multiple Registers\nvar sa = 40149; // Starting register number for \"active power setpoint\"\n\n// Define the setpoint value (0)\nvar setpointValue = 0;\n\n// Convert the setpoint value to a 32-bit signed integer\nvar intValue = Math.round(setpointValue); // Round the value to the nearest integer\nvar buf = Buffer.alloc(4); // Use 4 bytes for a 32-bit signed integer\nbuf.writeInt32BE(intValue);\n\n// Create the Modbus message object\nvar message = {\n    payload: {\n        value: buf,\n        'fc': fc,\n        'unitid': 1, // Modify if needed\n        'address': sa,\n        'quantity': 4, // Number of registers to write (adjust to match the length of the payload array)\n        'datatype': 'S32', // Set the data type to S32\n        'format': 'FIX0', // Set the data format to FIX0\n        'access': 'WO', // Set the access to WO (Write Only)\n        'name': 'active power setpoint' // Set the name to match the SMA Speedwire name\n    }\n};\n\n// Send the message to the output\nreturn message;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":400,"wires":[["c66c43faf6131e61"]]},{"id":"ebd12261d6277a8d","type":"inject","z":"a5ecbc5e135cb5e8","g":"9ab8aada22885506","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":400,"wires":[["8b1e0e056c350b4b"]]},{"id":"3ba37fa42414eb14","type":"function","z":"a5ecbc5e135cb5e8","g":"9ab8aada22885506","name":"Take control of the inverter","func":"// Stel de gewenste waarde in voor de modus van de vermogensregeling via communicatie\nvar desiredMode = [0, 802]; // Active\n\n// Vorm het bericht voor het schrijven naar Modbus\nvar message = {\n    payload: {\n        value: desiredMode,\n        unitid: 1,\n        fc: 16, // Functiecode 16 voor het schrijven van meerdere registers\n        address: 40151,\n        quantity: 2 // Aantal registers om te schrijven\n    }\n};\n\n// Stuur het bericht naar de uitgang van de functie node\nreturn message;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":160,"wires":[["c66c43faf6131e61"]]},{"id":"ce4f7e1dfa6a26fa","type":"function","z":"a5ecbc5e135cb5e8","g":"9ab8aada22885506","name":"Release control back to the inverter","func":"// Stel de gewenste waarde in voor de modus van de vermogensregeling via communicatie\nvar desiredMode = [0, 803]; // Inactive\n\n// Vorm het bericht voor het schrijven naar Modbus\nvar message = {\n    payload: {\n        value: desiredMode,\n        unitid: 1,\n        fc: 16, // Functiecode 16 voor het schrijven van meerdere registers\n        address: 40151,\n        quantity: 2 // Aantal registers om te schrijven\n    }\n};\n\n// Stuur het bericht naar de uitgang van de functie node\nreturn message;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":240,"wires":[["c66c43faf6131e61"]]},{"id":"ee1c666f2570c6ed","type":"inject","z":"a5ecbc5e135cb5e8","g":"9ab8aada22885506","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":160,"wires":[["3ba37fa42414eb14"]]},{"id":"83cbe65b602d5115","type":"inject","z":"a5ecbc5e135cb5e8","g":"9ab8aada22885506","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":240,"wires":[["ce4f7e1dfa6a26fa"]]},{"id":"5ac7555bf1483a7d","type":"comment","z":"a5ecbc5e135cb5e8","g":"cea3b0a1f2a76b11","name":"Winterflow: Charge the battery every night at the 4 cheapest hours if the solar forecast today is smaller then 15 Kw untill 100%  full","info":"","x":570,"y":4320,"wires":[]},{"id":"b0c5d975ebd082d2","type":"api-call-service","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"Turn off zero export + DAC --> Reset power slider to 100%","server":"82e28109.c824c","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.zero_export","input_boolean.dynamic_active_control_dac"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"100","valueType":"num"},{"property":"topic","propertyType":"msg","value":"Turn off zero export --> Reset power slider to 100%","valueType":"str"}],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_off","x":1550,"y":1820,"wires":[["7ff509aa6544d71b"]]},{"id":"7b346b9d03da2a5f","type":"api-call-service","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"Turn on zero export --> set power slider to 100%","server":"82e28109.c824c","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.zero_export"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"100","valueType":"num"},{"property":"topic","propertyType":"msg","value":"Turn on zero export","valueType":"str"}],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_on","x":1520,"y":1740,"wires":[["7ff509aa6544d71b"]]},{"id":"ce42b377546436a8","type":"comment","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"4 seasons flow: Zero export when export or import price of electricity is negative","info":"","x":380,"y":600,"wires":[]},{"id":"9f34dffa10bb0a29","type":"server-state-changed","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"Export price < 0?","server":"82e28109.c824c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.adjusted_current_electricity_export_price"],"substring":[],"regex":[]},"outputInitially":true,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"lt","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":1880,"wires":[["359309fc63e68db6"],["b0c5d975ebd082d2"]]},{"id":"0125564bb8c4ec32","type":"server-state-changed","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"Active power limit slider","server":"82e28109.c824c","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_number.active_power_limit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":680,"wires":[["fc8d1ad72c792502","4354094496a5fc16"]]},{"id":"4354094496a5fc16","type":"function","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"* 100","func":"var lim = msg.payload *100;\nreturn [{payload: lim}];","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":660,"wires":[["ec39bd55d1c1b248"]]},{"id":"fc8d1ad72c792502","type":"function","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"* 80","func":"var lim = msg.payload *80;\nreturn [{payload: lim}];","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":740,"wires":[["3ea0bc43faf83cb6"]]},{"id":"3ea0bc43faf83cb6","type":"ha-sensor","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"Active power limit sensor","entityConfig":"dbbf6dfc33b249fe","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":710,"y":740,"wires":[[]]},{"id":"7ff509aa6544d71b","type":"api-call-service","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"Active power limit slider","server":"82e28109.c824c","version":7,"debugenabled":false,"action":"input_number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_number.active_power_limit"],"labelId":[],"data":"{\"value\":{{payload}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"blockInputOverrides":false,"domain":"input_number","service":"set_value","output_location":"","output_location_type":"none","service_domain":"input_number","mergecontext":"","x":2170,"y":1480,"wires":[[]]},{"id":"68ce8249a19893a8","type":"inject","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"Reset active power limit slider to 100% @ midnight","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"Reset active power limit slider to 100%","payload":"100","payloadType":"num","x":330,"y":1640,"wires":[["7ff509aa6544d71b"]]},{"id":"168f131b7f5b2ea7","type":"comment","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"Adjust dynamically \"Normalized active power limitation by PV system control\" to home consumption","info":"","x":460,"y":840,"wires":[]},{"id":"d101fb27d689930d","type":"comment","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"Winterflow: Limit battery discharge when low PV mode is on","info":"","x":340,"y":4880,"wires":[]},{"id":"bce01959d7a4bbb6","type":"function","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"Active setpoint 3000 w (Export)","func":"// Define the Modbus function code and register number\nvar fc = 16; // Function code for Write Multiple Registers\nvar sa = 40149; // Starting register number for \"active power setpoint\"\n\n// Define the setpoint value\nvar setpointValue = 3000;\n\n// Convert the setpoint value to a 32-bit signed integer\nvar intValue = Math.round(setpointValue); // Round the value to the nearest integer\nvar buf = Buffer.alloc(4); // Use 4 bytes for a 32-bit signed integer\nbuf.writeInt32BE(intValue);\n\n// Create the Modbus message object\nvar message = {\n    payload: {\n        value: buf,\n        'fc': fc,\n        'unitid': 1, // Modify if needed\n        'address': sa,\n        'quantity': 4, // Number of registers to write (adjust to match the length of the payload array)\n        'datatype': 'S32', // Set the data type to S32\n        'format': 'FIX0', // Set the data format to FIX0\n        'access': 'WO', // Set the access to WO (Write Only)\n        'name': 'active power setpoint' // Set the name to match the SMA Speedwire name\n    }\n};\n\n// Send the message to the output\nreturn message;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2150,"y":2920,"wires":[["d1447ee41106892e","ef45f81099f0852f"]]},{"id":"173eecb46a240bc5","type":"comment","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"Summerflow: Exporting energy from march untill september","info":"","x":310,"y":2480,"wires":[]},{"id":"b173c95aba8e85b1","type":"comment","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"In the morning","info":"","x":210,"y":2540,"wires":[]},{"id":"8966b4b5815be4db","type":"comment","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"In the evening","info":"","x":210,"y":2900,"wires":[]},{"id":"6a86b89a84f73566","type":"server-state-changed","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"If state of battery < of = 20% --> stop","server":"82e28109.c824c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.sn_3012415982_battery_soc_total"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"20","ifStateType":"num","ifStateOperator":"lte","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"off","valueType":"str"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":280,"y":2600,"wires":[["b1dcbc75254bef7a"],[]]},{"id":"900c362316b81876","type":"server-state-changed","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"If state of battery < of = 70% --> stop","server":"82e28109.c824c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.sn_3012415982_battery_soc_total"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"70","ifStateType":"num","ifStateOperator":"lte","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"off","valueType":"str"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":280,"y":3140,"wires":[["e106133671bec9b4"],[]]},{"id":"b1dcbc75254bef7a","type":"within-time-switch","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"Morning from Ma until Sept ","nameInt":"","positionConfig":"057bcf3e14d99509","startTime":"0:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"12:00","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"2,3,4,5,6,7,8","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"true","withinTimeValueType":"msgInput","outOfTimeValue":"false","outOfTimeValueType":"msgInput","tsCompare":"0","x":600,"y":2580,"wires":[["256d88ff1b4cf11b"],[]]},{"id":"e106133671bec9b4","type":"within-time-switch","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"Evening from Ma until Sept ","nameInt":"","positionConfig":"057bcf3e14d99509","startTime":"12:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"00:00","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"2,3,4,5,6,7,8","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"true","withinTimeValueType":"msgInput","outOfTimeValue":"false","outOfTimeValueType":"msgInput","tsCompare":"0","x":880,"y":3140,"wires":[["0b7f975844db4691"],[]]},{"id":"a618180ff67e524e","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"Selling mode on? ","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.selling_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1110,"y":2720,"wires":[["5c37c5e5413eb1cb"],[]]},{"id":"d1447ee41106892e","type":"change","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"Start timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"START","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1850,"y":2820,"wires":[["f373a37b87da63d5"]]},{"id":"ecd23aefe8476c97","type":"change","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"STOP timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1890,"y":2760,"wires":[["f373a37b87da63d5","a15a88185056892f"]]},{"id":"4bb2d92a8c089c97","type":"within-time-switch","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"MA - SEPT 0 - 12 H","nameInt":"","positionConfig":"057bcf3e14d99509","startTime":"0:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"12:00","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"2,3,4,5,6,7,8","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"true","withinTimeValueType":"msgInput","outOfTimeValue":"false","outOfTimeValueType":"msgInput","tsCompare":"0","x":890,"y":2720,"wires":[["a618180ff67e524e"],[]]},{"id":"5c7f306c15122a05","type":"within-time-switch","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"MA - SEPT 0 - 12 H","nameInt":"","positionConfig":"057bcf3e14d99509","startTime":"0:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"12:00","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"2,3,4,5,6,7,8","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"true","withinTimeValueType":"msgInput","outOfTimeValue":"false","outOfTimeValueType":"msgInput","tsCompare":"0","x":890,"y":2780,"wires":[["6a51069cefc8cdc2"],[]]},{"id":"6a51069cefc8cdc2","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"Selling mode on? ","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.selling_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1110,"y":2780,"wires":[["0b7f975844db4691"],[]]},{"id":"2f78e31c564e9d76","type":"within-time-switch","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"MA - SEPT 12 - 23:59 H","nameInt":"","positionConfig":"057bcf3e14d99509","startTime":"12:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"00:00","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"2,3,4,5,6,7,8","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"true","withinTimeValueType":"msgInput","outOfTimeValue":"false","outOfTimeValueType":"msgInput","tsCompare":"0","x":870,"y":2980,"wires":[["5be3852c9dfb5530"],[]]},{"id":"5be3852c9dfb5530","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"Selling mode on? ","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.selling_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1110,"y":2980,"wires":[["5c37c5e5413eb1cb"],[]]},{"id":"595260c64dbdeb6f","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"Selling mode on? ","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.selling_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1110,"y":3040,"wires":[["0b7f975844db4691"],[]]},{"id":"2f1f180648389cce","type":"within-time-switch","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"MA - SEPT 12 - 23:59 H","nameInt":"","positionConfig":"057bcf3e14d99509","startTime":"12:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"00:00","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"2,3,4,5,6,7,8","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"true","withinTimeValueType":"msgInput","outOfTimeValue":"false","outOfTimeValueType":"msgInput","tsCompare":"0","x":870,"y":3040,"wires":[["595260c64dbdeb6f"],[]]},{"id":"99790ef0c97f3607","type":"function","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"Power limit factor","func":"var marge = 0;\nvar Limfactor;\n\nif (msg.payload > 8000) {\n    Limfactor = (8000 + marge) / 8000;\n} else {\n    Limfactor = (msg.payload + marge) / 8000;\n}\n\nreturn [{ payload: Limfactor }];\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":1120,"wires":[["dda1126b839cc582"]]},{"id":"dda1126b839cc582","type":"function","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"abs","func":"var abs = Math.abs(msg.payload);\n\nreturn [{ payload: abs }]","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":1120,"wires":[["990f904a54239bbc"]]},{"id":"990f904a54239bbc","type":"function","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"* 100","func":"var lim = msg.payload *100 ;\nvar limit = Math.ceil(lim) ; \nreturn [{payload: limit}];","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":1120,"wires":[["2e30b1a59f495751"]]},{"id":"2e30b1a59f495751","type":"delay","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"","pauseType":"rate","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1160,"y":1120,"wires":[["7ff509aa6544d71b"]]},{"id":"7ba1bad999aa53fb","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"If zero export is on","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.zero_export","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1630,"y":980,"wires":[["6db13af5d4362d94","f80f18ab80f4bc54"],[]]},{"id":"edc9d7ab5356f042","type":"change","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"STOP timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":5160,"wires":[["1d8f15f53ec172d3"]]},{"id":"eda340f2554f142a","type":"ha-wait-until","z":"a5ecbc5e135cb5e8","g":"cea3b0a1f2a76b11","name":"Wait untill battery is >= 80%","server":"82e28109.c824c","version":3,"outputs":2,"entities":{"entity":["sensor.sn_3012415982_battery_soc_total"],"substring":[],"regex":[]},"property":"state","comparator":"gte","value":"80","valueType":"num","timeout":"12","timeoutType":"num","timeoutUnits":"hours","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"entityLocation":"data","entityLocationType":"none","x":540,"y":4700,"wires":[["e2d750e73504a9b7"],[]]},{"id":"705e0d9e6555743a","type":"server-state-changed","z":"a5ecbc5e135cb5e8","g":"cea3b0a1f2a76b11","name":"If state of battery > of = 100% --> stop charging","server":"82e28109.c824c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.sn_3012415982_battery_soc_total"],"substring":[],"regex":[]},"outputInitially":true,"stateType":"num","ifState":"100","ifStateType":"num","ifStateOperator":"gte","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":300,"y":4760,"wires":[["e2d750e73504a9b7"],[]]},{"id":"906cc68ee119ea8a","type":"change","z":"a5ecbc5e135cb5e8","g":"cea3b0a1f2a76b11","name":"Change to stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":4560,"wires":[["e3d0bca2095c5604","b1df9d5abcfbfeb6"]]},{"id":"32d40d4009f685d7","type":"change","z":"a5ecbc5e135cb5e8","g":"cea3b0a1f2a76b11","name":"Change to GO","rules":[{"t":"set","p":"payload","pt":"msg","to":"GO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":4500,"wires":[["e3d0bca2095c5604","0447e5182bed3fe9"]]},{"id":"9e7d96865daa8820","type":"poll-state","z":"a5ecbc5e135cb5e8","g":"cea3b0a1f2a76b11","name":"House consumption","server":"82e28109.c824c","version":3,"exposeAsEntityConfig":"","updateInterval":"1","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":true,"outputOnChanged":false,"entityId":"sensor.current_houseconsumption","stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"House consumption","valueType":"str"}],"x":190,"y":4380,"wires":[["4505a7a23a17c498"]]},{"id":"e3d0bca2095c5604","type":"traffic","z":"a5ecbc5e135cb5e8","g":"cea3b0a1f2a76b11","name":"Traffic light","property_allow":"payload","filter_allow":"GO","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"stop","ignore_case_stop":true,"negate_stop":false,"send_stop":true,"default_start":false,"differ":false,"x":1470,"y":4380,"wires":[["10fc6e5ffcdba63e"]]},{"id":"d2933282f7cf775c","type":"poll-state","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"houseconsumption","server":"82e28109.c824c","version":3,"exposeAsEntityConfig":"","updateInterval":"1","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":true,"outputOnChanged":false,"entityId":"sensor.current_houseconsumption","stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"Home consumption","valueType":"str"}],"x":210,"y":960,"wires":[["f27fac7242369f88"]]},{"id":"14c9b8ee6764a5d8","type":"function","z":"a5ecbc5e135cb5e8","g":"cea3b0a1f2a76b11","name":"Inject active setpoint value to modbus 40149 dynamically","func":"// Prepare payload for writing to Modbus register in the second function node\nvar fc = 16; // Function code for Write Multiple Registers\nvar sa = 40149; // Starting address of the Modbus register\nvar quantity = 4; // Number of contiguous registers to write (2 registers for 1 32-bit integer)\n\n// Retrieve the changing value from the payload\nvar value = msg.payload;\n\n// If the value is valid, proceed with conversion and payload construction\nif (value !== undefined && !isNaN(value)) {\n    // Convert the value to a signed 32-bit integer for Modbus register\n    var intValue = Math.round(value); // Assuming input is already in S32 format\n    var buf = Buffer.alloc(4); // Use 4 bytes for 1 32-bit integer\n\n    // Write the signed 32-bit integer value\n    buf.writeInt32BE(intValue, 0); // Write the integer at the start of the buffer\n\n    // Construct the final message payload\n    msg.payload = {\n        value: buf,\n        'fc': fc,\n        'unitid': 1, // Modbus unit ID\n        'address': sa,\n        'quantity': quantity, // Number of registers to write (2 registers for 1 32-bit integer)\n        'access': 'WO' // Access type (Write Only)\n    };\n} else {\n    // If the value is invalid, log an error message\n    console.error(\"Invalid value:\", value);\n}\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":4380,"wires":[["e3d0bca2095c5604"]]},{"id":"9a8d054e1977a862","type":"trigger-state","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"Conditions to export in the evening","server":"82e28109.c824c","version":5,"inputs":0,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.most_expensive_hour_in_the_evening"],"substring":[],"regex":[]},"debugEnabled":false,"constraints":[{"targetType":"entity_id","targetValue":"sensor.sn_3012415982_battery_soc_total","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">","comparatorValueDatatype":"num","comparatorValue":"70"},{"targetType":"entity_id","targetValue":"sensor.solcast_pv_forecast_forecast_tomorrow","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">=","comparatorValueDatatype":"num","comparatorValue":"25"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"targetType":"entity_id","targetValue":"sensor.adjusted_current_electricity_export_price","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">=","comparatorValueDatatype":"num","comparatorValue":"0.04"}],"customOutputs":[],"outputInitially":true,"stateType":"str","enableInput":false,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":280,"y":3000,"wires":[["527808c6d5639fe3"],["4a3977e0c6dee1ca"]]},{"id":"f373a37b87da63d5","type":"controltimer","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"","timerType":"loop","timerDurationUnit":"minute","timerDurationType":"num","timerDuration":1,"timerLoopTimeoutUnit":"second","timerLoopTimeoutType":"num","timerLoopTimeout":0,"loopTimeoutMessageType":"str","loopTimeoutMessage":"LOOP_TIMEOUT","timerMaxLoopIterationsType":"num","timerMaxLoopIterations":0,"loopMaxIterationsMessageType":"str","loopMaxIterationsMessage":"MAX_LOOP_ITERATIONS","isRunningTimerProgressVisible":true,"outputReceivedMessageOnTimerTrigger":true,"outputReceivedMessageOnTimerHalt":false,"startTimerOnReceivalOfUnknownMessage":false,"resetTimerOnReceivalOfUnknownMessage":false,"resetTimerOnReceivalOfStartAction":true,"continueTimerOnReceivalOfStartAction":false,"isDebugModeEnabled":false,"timerTriggeredMessageType":"str","timerTriggeredMessage":"START","timerHaltedMessageType":"str","timerHaltedMessage":"STOP","isStartActionEnabled":true,"isStopActionEnabled":true,"isResetActionEnabled":true,"isPauseActionEnabled":true,"isContinueActionEnabled":true,"actionPropertyNameType":"str","actionPropertyName":"payload","startActionNameType":"str","startActionName":"START","stopActionNameType":"str","stopActionName":"STOP","resetActionNameType":"str","resetActionName":"RESET","pauseActionNameType":"str","pauseActionName":"PAUSE","continueActionNameType":"str","continueActionName":"CONTINUE","x":2140,"y":2800,"wires":[["bce01959d7a4bbb6"],[]]},{"id":"1d8f15f53ec172d3","type":"controltimer","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"","timerType":"loop","timerDurationUnit":"minute","timerDurationType":"num","timerDuration":1,"timerLoopTimeoutUnit":"second","timerLoopTimeoutType":"num","timerLoopTimeout":0,"loopTimeoutMessageType":"str","loopTimeoutMessage":"LOOP_TIMEOUT","timerMaxLoopIterationsType":"num","timerMaxLoopIterations":0,"loopMaxIterationsMessageType":"str","loopMaxIterationsMessage":"MAX_LOOP_ITERATIONS","isRunningTimerProgressVisible":true,"outputReceivedMessageOnTimerTrigger":true,"outputReceivedMessageOnTimerHalt":false,"startTimerOnReceivalOfUnknownMessage":false,"resetTimerOnReceivalOfUnknownMessage":false,"resetTimerOnReceivalOfStartAction":true,"continueTimerOnReceivalOfStartAction":false,"isDebugModeEnabled":false,"timerTriggeredMessageType":"str","timerTriggeredMessage":"START","timerHaltedMessageType":"str","timerHaltedMessage":"STOP","isStartActionEnabled":true,"isStopActionEnabled":true,"isResetActionEnabled":true,"isPauseActionEnabled":true,"isContinueActionEnabled":true,"actionPropertyNameType":"str","actionPropertyName":"payload","startActionNameType":"str","startActionName":"START","stopActionNameType":"str","stopActionName":"STOP","resetActionNameType":"str","resetActionName":"RESET","pauseActionNameType":"str","pauseActionName":"PAUSE","continueActionNameType":"str","continueActionName":"CONTINUE","x":1520,"y":5080,"wires":[["528dab66859bbb60"],[]]},{"id":"a19fec4b4f5c9c26","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"cea3b0a1f2a76b11","name":"If forecast > 12 kWh?","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"12","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.solcast_pv_forecast_forecast_today","state_type":"num","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":220,"y":4700,"wires":[["eda340f2554f142a"],[]]},{"id":"10fc6e5ffcdba63e","type":"modbus-flex-write","z":"a5ecbc5e135cb5e8","g":"cea3b0a1f2a76b11","name":"Modbus write node","showStatusActivities":true,"showErrors":true,"showWarnings":true,"server":"a3ba30e733e52b3b","emptyMsgOnFail":true,"keepMsgProperties":true,"delayOnStart":true,"startDelayTime":"1","x":1830,"y":4380,"wires":[[],[]]},{"id":"278317e98280c1e3","type":"server-state-changed","z":"a5ecbc5e135cb5e8","g":"cea3b0a1f2a76b11","name":"Charging battery","server":"82e28109.c824c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.charging_battery"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":4520,"wires":[["32d40d4009f685d7"],["906cc68ee119ea8a"]]},{"id":"5e9733b28c983adc","type":"api-call-service","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"Turn on Low PV Mode","server":"82e28109.c824c","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.low_pv_mode"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"off","valueType":"str"}],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_on","x":1400,"y":4920,"wires":[["b549b1cfea6be6ba"]]},{"id":"a2958eda96413263","type":"modbus-flex-write","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"Modbus write node","showStatusActivities":true,"showErrors":true,"showWarnings":true,"server":"a3ba30e733e52b3b","emptyMsgOnFail":true,"keepMsgProperties":true,"delayOnStart":true,"startDelayTime":"1","x":1830,"y":5340,"wires":[[],[]]},{"id":"ef45f81099f0852f","type":"modbus-flex-write","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"Modbus write node","showStatusActivities":true,"showErrors":true,"showWarnings":true,"server":"a3ba30e733e52b3b","emptyMsgOnFail":true,"keepMsgProperties":true,"delayOnStart":true,"startDelayTime":"1","x":2210,"y":3020,"wires":[[],[]]},{"id":"0ad516de3b7a8f5a","type":"trigger-state","z":"a5ecbc5e135cb5e8","g":"cea3b0a1f2a76b11","name":"Conditions to charge batt @ lowest price.","server":"82e28109.c824c","version":5,"inputs":0,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.cheapest_4_hours_of_the_day"],"substring":[],"regex":[]},"debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"targetType":"entity_id","targetValue":"sensor.solcast_pv_forecast_forecast_today","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"<","comparatorValueDatatype":"num","comparatorValue":"15"},{"targetType":"entity_id","targetValue":"sensor.adjusted_current_electricity_import_price","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"<=","comparatorValueDatatype":"num","comparatorValue":"0.25"}],"customOutputs":[],"outputInitially":true,"stateType":"str","enableInput":false,"x":280,"y":4600,"wires":[["a19fec4b4f5c9c26","1872d4bf8412ef4e"],["e2d750e73504a9b7"]]},{"id":"0c3e287ec72b69c7","type":"function","z":"a5ecbc5e135cb5e8","g":"cea3b0a1f2a76b11","name":"Houseconsumption - 4.5 Kw","func":"// Controleer of msg.payload een geldig getal is\nif (isNaN(msg.payload)) {\n    node.warn(\"Payload is geen geldig getal: \" + msg.payload);\n    return null; // Stopt de uitvoering als het geen getal is\n}\n\n// Aftrekken: houseConsumption - 4500\nvar houseConsumption = parseFloat(msg.payload);\nvar result = houseConsumption - 4500;\nmsg.payload = result;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":4380,"wires":[["14c9b8ee6764a5d8"]]},{"id":"3a77bf9f5a61733d","type":"api-call-service","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"Turn off Low PV Mode","server":"82e28109.c824c","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.low_pv_mode"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"}],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_off","x":1120,"y":5160,"wires":[[]]},{"id":"9b1a4b297a48e8f4","type":"change","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"START timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"START","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":4980,"wires":[["1d8f15f53ec172d3"]]},{"id":"e2d750e73504a9b7","type":"api-call-service","z":"a5ecbc5e135cb5e8","g":"cea3b0a1f2a76b11","name":"Turn off Charging Battery","server":"82e28109.c824c","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.charging_battery"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"}],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_off","x":1430,"y":4760,"wires":[[]]},{"id":"1872d4bf8412ef4e","type":"api-call-service","z":"a5ecbc5e135cb5e8","g":"cea3b0a1f2a76b11","name":"Turn on Charging Battery","server":"82e28109.c824c","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.charging_battery"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"}],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_on","x":1430,"y":4700,"wires":[[]]},{"id":"a9300db717dafaca","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"Charging battery on? ","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.charging_battery","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1380,"y":5600,"wires":[[],["f4d1292fdb2d1943"]]},{"id":"bb012c6db3028c81","type":"server-state-changed","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"If low PV mode is off? ","server":"82e28109.c824c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.low_pv_mode"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":5600,"wires":[["e1e2517e097a2fce"],[]]},{"id":"121208762d465e28","type":"break director","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"","actors":"","inputType":"msg","inputValue":"payload","lockType":"bool","lockValue":"true","unlockType":"else","unlockValue":"false","defaultState":true,"useTimeOut":false,"timeOut":"30","timeOutUnit":"s","x":1040,"y":5340,"wires":[[]]},{"id":"9261cea8871c5809","type":"break director","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"","actors":"","inputType":"msg","inputValue":"payload","lockType":"bool","lockValue":"false","unlockType":"else","unlockValue":"false","defaultState":false,"useTimeOut":false,"timeOut":"30","timeOutUnit":"s","x":1040,"y":5280,"wires":[[]]},{"id":"0d30091ca31dc834","type":"change","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":5280,"wires":[["121208762d465e28","9261cea8871c5809"]]},{"id":"63456ef358727845","type":"change","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":5340,"wires":[["9261cea8871c5809","121208762d465e28","edc9d7ab5356f042"]]},{"id":"fddee90ea54000d9","type":"trigger-state","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"Current import price < Minimum import","server":"82e28109.c824c","version":5,"inputs":0,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.adjusted_current_electricity_import_price"],"substring":[],"regex":[]},"debugEnabled":false,"constraints":[{"targetType":"entity_id","targetValue":"input_number.minimum_import_price","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">","comparatorValueDatatype":"entity","comparatorValue":"state"}],"customOutputs":[],"outputInitially":true,"stateType":"num","enableInput":false,"x":250,"y":5280,"wires":[["46d712d19dc7ca69"],["6f1e9588a2daed0a"]]},{"id":"b1df9d5abcfbfeb6","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"cea3b0a1f2a76b11","name":"If low PV mode is off","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.low_pv_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1180,"y":4560,"wires":[["1171f8222fb94633"],["1cbbf7f779038a24"]]},{"id":"882955734b56cbeb","type":"within-time-switch","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"Nov until Feb","nameInt":"","positionConfig":"057bcf3e14d99509","startTime":"0:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"23:59","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"0,1,10,11","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"true","withinTimeValueType":"msgInput","outOfTimeValue":"false","outOfTimeValueType":"msgInput","tsCompare":"0","x":1130,"y":4920,"wires":[["9b1a4b297a48e8f4","5e9733b28c983adc"],[]]},{"id":"88fcec557f055d11","type":"within-time-switch","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"Nov until Feb","nameInt":"","positionConfig":"057bcf3e14d99509","startTime":"0:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"23:59","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"0,1,10,11","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"true","withinTimeValueType":"msgInput","outOfTimeValue":"false","outOfTimeValueType":"msgInput","tsCompare":"0","x":1130,"y":5000,"wires":[["edc9d7ab5356f042"],[]]},{"id":"46d712d19dc7ca69","type":"within-time-switch","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"Nov until Feb","nameInt":"","positionConfig":"057bcf3e14d99509","startTime":"0:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"23:59","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"0,1,10,11","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"true","withinTimeValueType":"msgInput","outOfTimeValue":"false","outOfTimeValueType":"msgInput","tsCompare":"0","x":590,"y":5280,"wires":[["0d30091ca31dc834"],[]]},{"id":"6f1e9588a2daed0a","type":"within-time-switch","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"Nov until Feb","nameInt":"","positionConfig":"057bcf3e14d99509","startTime":"0:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"23:59","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"0,1,10,11","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"true","withinTimeValueType":"msgInput","outOfTimeValue":"false","outOfTimeValueType":"msgInput","tsCompare":"0","x":590,"y":5340,"wires":[["63456ef358727845"],[]]},{"id":"e1e2517e097a2fce","type":"within-time-switch","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"Nov until Feb","nameInt":"","positionConfig":"057bcf3e14d99509","startTime":"0:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"23:59","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"0,1,10,11","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"true","withinTimeValueType":"msgInput","outOfTimeValue":"false","outOfTimeValueType":"msgInput","tsCompare":"0","x":590,"y":5600,"wires":[["a9300db717dafaca"],[]]},{"id":"eca445157460bea0","type":"time-inject","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"Turn off on march 1th","nameInt":"timestamp 365d","positionConfig":"2c08556d8ea86ac0","props":[{"p":"","pt":"msgPayload","v":"","vt":"date","o":"","oT":"none","oM":"60000","f":0,"fS":0,"fT":"UNIX timestamp (ms)","fI":"0","next":true,"days":"*","months":"*","onlyOddDays":false,"onlyEvenDays":false,"onlyOddWeeks":false,"onlyEvenWeeks":false}],"injectTypeSelect":"interval","intervalCount":"365","intervalCountType":"num","intervalCountMultiplier":86400000,"cron":"","cronType":"cronexpr","time":"","timeType":"entered","offset":0,"offsetType":"none","offsetMultiplier":60000,"timeEnd":"","timeEndType":"entered","timeEndOffset":0,"timeEndOffsetType":"none","timeEndOffsetMultiplier":60000,"timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"*","timedatestart":"","timedateend":"","property":"","propertyType":"none","propertyCompare":"true","propertyThreshold":"","propertyThresholdType":"num","timeAlt":"","timeAltType":"entered","timeAltDays":"*","timeAltOnlyOddDays":false,"timeAltOnlyEvenDays":false,"timeAltOnlyOddWeeks":false,"timeAltOnlyEvenWeeks":false,"timeAltMonths":"*","timeAltOffset":0,"timeAltOffsetType":"none","timeAltOffsetMultiplier":60000,"once":false,"onceDelay":0.1,"recalcTime":2,"x":220,"y":5160,"wires":[["3a77bf9f5a61733d"]]},{"id":"e2796ed78b1d3984","type":"poll-state","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"Forecast today < 15 kWh.","server":"82e28109.c824c","version":3,"exposeAsEntityConfig":"","updateInterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":true,"outputOnChanged":false,"entityId":"sensor.solcast_pv_forecast_forecast_today","stateType":"num","ifState":"15","ifStateType":"num","ifStateOperator":"lt","outputs":2,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":4960,"wires":[["643f1407f60ba4ea"],["d36edfe3d475289a"]]},{"id":"643f1407f60ba4ea","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"Is PVgen - houseconsumption neg?","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.pvgen_minus_houseconsumption","state_type":"num","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":4940,"wires":[["34773297da9741b5"],["88fcec557f055d11","8749d545a56138b3"]]},{"id":"34773297da9741b5","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"Is charging battery off?","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.charging_battery","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":860,"y":4920,"wires":[["882955734b56cbeb"],["88fcec557f055d11","8749d545a56138b3"]]},{"id":"8749d545a56138b3","type":"within-time-switch","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"Nov until Feb","nameInt":"","positionConfig":"057bcf3e14d99509","startTime":"0:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"23:59","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"0,1,10,11","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"true","withinTimeValueType":"msgInput","outOfTimeValue":"false","outOfTimeValueType":"msgInput","tsCompare":"0","x":1130,"y":5080,"wires":[["3a77bf9f5a61733d"],[]]},{"id":"d36edfe3d475289a","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"Spread > 0.04","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"0.04","halt_if_type":"num","halt_if_compare":"lte","entity_id":"sensor.spread_electricity_import_price","state_type":"num","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":500,"y":5060,"wires":[["882955734b56cbeb"],["88fcec557f055d11","8749d545a56138b3"]]},{"id":"4ae74c26684327b6","type":"inject","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":540,"y":5220,"wires":[["0d30091ca31dc834"]]},{"id":"c49975cc3e7c2ef1","type":"delay","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1920,"y":2920,"wires":[["bce01959d7a4bbb6"]]},{"id":"a15a88185056892f","type":"function","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"Release control back to the inverter","func":"// Stel de gewenste waarde in voor de modus van de vermogensregeling via communicatie\nvar desiredMode = [0, 803]; // Inactive\n\n// Vorm het bericht voor het schrijven naar Modbus\nvar message = {\n    payload: {\n        value: desiredMode,\n        unitid: 1,\n        fc: 16, // Functiecode 16 voor het schrijven van meerdere registers\n        address: 40151,\n        quantity: 2 // Aantal registers om te schrijven\n    }\n};\n\n// Stuur het bericht naar de uitgang van de functie node\nreturn message;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1900,"y":3020,"wires":[["ef45f81099f0852f"]]},{"id":"21598e67a861ee1d","type":"function","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"Take control of the inverter","func":"// Stel de gewenste waarde in voor de modus van de vermogensregeling via communicatie\nvar desiredMode = [0, 802]; // Active\n\n// Vorm het bericht voor het schrijven naar Modbus\nvar message = {\n    payload: {\n        value: desiredMode,\n        unitid: 1,\n        fc: 16, // Functiecode 16 voor het schrijven van meerdere registers\n        address: 40151,\n        quantity: 2 // Aantal registers om te schrijven\n    }\n};\n\n// Stuur het bericht naar de uitgang van de functie node\nreturn message;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1880,"y":3080,"wires":[["ef45f81099f0852f"]]},{"id":"0447e5182bed3fe9","type":"function","z":"a5ecbc5e135cb5e8","g":"cea3b0a1f2a76b11","name":"Take control of the inverter","func":"// Stel de gewenste waarde in voor de modus van de vermogensregeling via communicatie\nvar desiredMode = [0, 802]; // Active\n\n// Vorm het bericht voor het schrijven naar Modbus\nvar message = {\n    payload: {\n        value: desiredMode,\n        unitid: 1,\n        fc: 16, // Functiecode 16 voor het schrijven van meerdere registers\n        address: 40151,\n        quantity: 2 // Aantal registers om te schrijven\n    }\n};\n\n// Stuur het bericht naar de uitgang van de functie node\nreturn message;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1580,"y":4440,"wires":[["10fc6e5ffcdba63e"]]},{"id":"1171f8222fb94633","type":"function","z":"a5ecbc5e135cb5e8","g":"cea3b0a1f2a76b11","name":"Release control back to the inverter","func":"// Stel de gewenste waarde in voor de modus van de vermogensregeling via communicatie\nvar desiredMode = [0, 803]; // Inactive\n\n// Vorm het bericht voor het schrijven naar Modbus\nvar message = {\n    payload: {\n        value: desiredMode,\n        unitid: 1,\n        fc: 16, // Functiecode 16 voor het schrijven van meerdere registers\n        address: 40151,\n        quantity: 2 // Aantal registers om te schrijven\n    }\n};\n\n// Stuur het bericht naar de uitgang van de functie node\nreturn message;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1820,"y":4540,"wires":[["10fc6e5ffcdba63e"]]},{"id":"e049252b36bd32dd","type":"function","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"Take control of the inverter","func":"// Stel de gewenste waarde in voor de modus van de vermogensregeling via communicatie\nvar desiredMode = [0, 802]; // Active\n\n// Vorm het bericht voor het schrijven naar Modbus\nvar message = {\n    payload: {\n        value: desiredMode,\n        unitid: 1,\n        fc: 16, // Functiecode 16 voor het schrijven van meerdere registers\n        address: 40151,\n        quantity: 2 // Aantal registers om te schrijven\n    }\n};\n\n// Stuur het bericht naar de uitgang van de functie node\nreturn message;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1900,"y":5180,"wires":[["a2958eda96413263","1d8f15f53ec172d3"]]},{"id":"f4d1292fdb2d1943","type":"function","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"Release control back to the inverter","func":"// Stel de gewenste waarde in voor de modus van de vermogensregeling via communicatie\nvar desiredMode = [0, 803]; // Inactive\n\n// Vorm het bericht voor het schrijven naar Modbus\nvar message = {\n    payload: {\n        value: desiredMode,\n        unitid: 1,\n        fc: 16, // Functiecode 16 voor het schrijven van meerdere registers\n        address: 40151,\n        quantity: 2 // Aantal registers om te schrijven\n    }\n};\n\n// Stuur het bericht naar de uitgang van de functie node\nreturn message;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1580,"y":5520,"wires":[["a2958eda96413263"]]},{"id":"b549b1cfea6be6ba","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"Min import Price - current Import Price neg?","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.minimum_import_price_minus_current_import_price","state_type":"num","blockInputOverrides":true,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1650,"y":4980,"wires":[[],["e0dae9353621333e"]]},{"id":"3398f06382864569","type":"server-state-changed","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"If Min Import Price - Current Import Price is neg? ","server":"82e28109.c824c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.minimum_import_price_minus_current_import_price"],"substring":[],"regex":[]},"outputInitially":true,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"lt","outputOnlyOnStateChange":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":280,"y":5540,"wires":[["7abc1f9e47db2d40"],[]]},{"id":"a6f208f1b64c678a","type":"delay","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":800,"y":5540,"wires":[["fcd3d3ec7115edd9"]]},{"id":"7abc1f9e47db2d40","type":"within-time-switch","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"Nov until Feb","nameInt":"","positionConfig":"057bcf3e14d99509","startTime":"0:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"23:59","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"0,1,10,11","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"true","withinTimeValueType":"msgInput","outOfTimeValue":"false","outOfTimeValueType":"msgInput","tsCompare":"0","x":590,"y":5540,"wires":[["a6f208f1b64c678a"],[]]},{"id":"47175aebb7212fc3","type":"inject","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":540,"y":5420,"wires":[["63456ef358727845","f4d1292fdb2d1943"]]},{"id":"528dab66859bbb60","type":"break actor","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"","link":"","director":"9261cea8871c5809","resendLast":false,"x":1710,"y":5080,"wires":[["e049252b36bd32dd"]]},{"id":"fcd3d3ec7115edd9","type":"break actor","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"","link":"","director":"121208762d465e28","resendLast":false,"x":1010,"y":5540,"wires":[["f4d1292fdb2d1943"]]},{"id":"1cbbf7f779038a24","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"cea3b0a1f2a76b11","name":"Min import Price - current Import Price neg?","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.minimum_import_price_minus_current_import_price","state_type":"num","blockInputOverrides":true,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1490,"y":4580,"wires":[["1171f8222fb94633"],[]]},{"id":"ec39bd55d1c1b248","type":"modbus-write","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"SMA Modbus Write 41255 ( Limit ),","showStatusActivities":true,"showErrors":true,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"41255","quantity":"1","server":"a3ba30e733e52b3b","emptyMsgOnFail":true,"keepMsgProperties":true,"delayOnStart":false,"startDelayTime":"","x":740,"y":640,"wires":[[],[]]},{"id":"54868cd8e86b8a0c","type":"server-state-changed","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"If prices are unavailable.","server":"82e28109.c824c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.adjusted_current_electricity_import_price"],"substring":[],"regex":[]},"outputInitially":true,"stateType":"str","ifState":"unavailable","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":5340,"wires":[["6f1e9588a2daed0a"],[]]},{"id":"e0dae9353621333e","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"e6328abac985df2c","name":"If prices are unavailable","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.adjusted_current_electricity_import_price","state_type":"str","blockInputOverrides":true,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1810,"y":4900,"wires":[["a9300db717dafaca"],["e049252b36bd32dd"]]},{"id":"c66c43faf6131e61","type":"modbus-flex-write","z":"a5ecbc5e135cb5e8","g":"9ab8aada22885506","name":"Modbus write node","showStatusActivities":true,"showErrors":true,"showWarnings":true,"server":"a3ba30e733e52b3b","emptyMsgOnFail":true,"keepMsgProperties":true,"delayOnStart":true,"startDelayTime":"1","x":870,"y":320,"wires":[[],[]]},{"id":"f27fac7242369f88","type":"function","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"Houseconsumption - 60","func":"// Controleer of msg.payload een geldig getal is\nif (isNaN(msg.payload)) {\n    node.warn(\"Payload is geen geldig getal: \" + msg.payload);\n    return null; // Stopt de uitvoering als het geen getal is\n}\n\n// Aftrekken: houseConsumption - 60\nvar houseConsumption = parseFloat(msg.payload);\nvar result = houseConsumption - 60;\nmsg.payload = result;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":960,"wires":[["7ba1bad999aa53fb"]]},{"id":"89b8395710865bcd","type":"trigger-state","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"Conditions to export in the morning","server":"82e28109.c824c","version":5,"inputs":0,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.most_expensive_hour_in_the_morning"],"substring":[],"regex":[]},"debugEnabled":false,"constraints":[{"targetType":"entity_id","targetValue":"sensor.sn_3012415982_battery_soc_total","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">","comparatorValueDatatype":"num","comparatorValue":"20"},{"targetType":"entity_id","targetValue":"sensor.solcast_pv_forecast_forecast_today","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">=","comparatorValueDatatype":"num","comparatorValue":"25"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"targetType":"entity_id","targetValue":"sensor.adjusted_current_electricity_export_price","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">=","comparatorValueDatatype":"num","comparatorValue":"0.04"}],"customOutputs":[],"outputInitially":true,"stateType":"str","enableInput":false,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":280,"y":2740,"wires":[["916bd1013ec18046"],["ab1f308c508eb455"]]},{"id":"97226d384540ec7c","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"If DAC is on","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.dynamic_active_control_dac","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":290,"y":1120,"wires":[["99790ef0c97f3607"],[]]},{"id":"9cfb26d4e608f9cb","type":"api-call-service","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"Turn on DAC","server":"82e28109.c824c","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.dynamic_active_control_dac"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_on","x":990,"y":1400,"wires":[["1eb6a7f104e19979","7ca189cda7724503"]]},{"id":"1eb6a7f104e19979","type":"stoptimer","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"15 minutes timer","x":1260,"y":1400,"wires":[["06560fd65450e959","fcd17a22c75037cd"],[]]},{"id":"e990a91daf3f1871","type":"api-call-service","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"Turn off DAC + set powerslider to 100%","server":"82e28109.c824c","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.dynamic_active_control_dac"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"100","valueType":"num"}],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_off","x":1500,"y":1500,"wires":[["7ff509aa6544d71b"]]},{"id":"06560fd65450e959","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"Check SOC off battery","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"85","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.sn_3012415982_battery_soc_total","state_type":"num","blockInputOverrides":true,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1480,"y":1420,"wires":[["e990a91daf3f1871"],[]]},{"id":"87af6474acedaea4","type":"modbus-flex-write","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"Modbus write node","showStatusActivities":true,"showErrors":true,"showWarnings":true,"server":"a3ba30e733e52b3b","emptyMsgOnFail":true,"keepMsgProperties":true,"delayOnStart":true,"startDelayTime":"1","x":2130,"y":3980,"wires":[[],[]]},{"id":"f499131e539c35a2","type":"trigger-state","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"Conditions to prevent battery from charging ","server":"82e28109.c824c","version":5,"inputs":0,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.sn_3012415982_pv_power"],"substring":[],"regex":[]},"debugEnabled":false,"constraints":[{"targetType":"entity_id","targetValue":"sensor.current_houseconsumption","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"<","comparatorValueDatatype":"entity","comparatorValue":"state"},{"targetType":"entity_id","targetValue":"sensor.solcast_pv_forecast_forecast_today","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">=","comparatorValueDatatype":"str","comparatorValue":"25"}],"customOutputs":[],"outputInitially":true,"stateType":"num","enableInput":false,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":260,"y":4000,"wires":[["8ef19e141d2e7046"],["b7a05da36d833e58"]]},{"id":"1904357f25a04eaf","type":"delay","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"","pauseType":"rate","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1850,"y":3980,"wires":[["1f17d0e33e9d4b20"]]},{"id":"99dc24b14e10ae93","type":"delay","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"","pauseType":"rate","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1850,"y":4040,"wires":[["8fe4018f95c33032"]]},{"id":"342790acb95da9fa","type":"within-time-switch","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"between 05:00 and 13:00","nameInt":"","positionConfig":"057bcf3e14d99509","startTime":"05:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"13:00","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"*","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"true","withinTimeValueType":"msgInput","outOfTimeValue":"false","outOfTimeValueType":"msgInput","tsCompare":"0","x":1610,"y":3980,"wires":[["1904357f25a04eaf"],[]]},{"id":"9b228a39c6a2d4d8","type":"within-time-switch","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"between 05:00 and 13:00","nameInt":"","positionConfig":"057bcf3e14d99509","startTime":"05:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"13:00","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"*","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"true","withinTimeValueType":"msgInput","outOfTimeValue":"false","outOfTimeValueType":"msgInput","tsCompare":"0","x":1610,"y":4040,"wires":[["99dc24b14e10ae93"],[]]},{"id":"9870507e77022fe1","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"Solcast > 25 Kwh/day","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"25","halt_if_type":"num","halt_if_compare":"gte","entity_id":"sensor.solcast_pv_forecast_forecast_today","state_type":"num","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1120,"y":3980,"wires":[["6924a28d79f6f4fa"],[]]},{"id":"b2c46bbb3b07dead","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"Solcast > 25 Kwh/day","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"25","halt_if_type":"num","halt_if_compare":"gte","entity_id":"sensor.solcast_pv_forecast_forecast_today","state_type":"num","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1120,"y":4040,"wires":[["74bb7879c96eb21c"],[]]},{"id":"6924a28d79f6f4fa","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"Charging mode on?","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.charging_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1350,"y":3980,"wires":[[],["342790acb95da9fa"]]},{"id":"74bb7879c96eb21c","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"Charging mode on?","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.charging_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1350,"y":4040,"wires":[[],["9b228a39c6a2d4d8"]]},{"id":"60a3da6a75811e3c","type":"server-state-changed","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"If export price < 0.000 ---> turn on Charging mode","server":"82e28109.c824c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.adjusted_current_electricity_export_price"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"0.000","ifStateType":"num","ifStateOperator":"lt","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"},{"property":"topic","propertyType":"msg","value":"Turn on Charging mode","valueType":"str"}],"x":280,"y":3660,"wires":[["5e71e4888149be8c"],[]]},{"id":"564299c97ad66622","type":"api-call-service","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"Turn off Charging mode","server":"82e28109.c824c","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.charging_mode"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_off","x":1950,"y":3400,"wires":[[]]},{"id":"059412979f5544bf","type":"api-call-service","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"Turn on Charging mode","server":"82e28109.c824c","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.charging_mode"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_on","x":1950,"y":3780,"wires":[[]]},{"id":"1752b48c28719d16","type":"change","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"Change to on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":3780,"wires":[["059412979f5544bf"]]},{"id":"122c0d1005052e54","type":"change","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"Change to off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":3400,"wires":[["564299c97ad66622"]]},{"id":"90911db56682001e","type":"switch","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"35","vt":"num"},{"t":"btwn","v":"30","vt":"num","v2":"35","v2t":"num"},{"t":"btwn","v":"25","vt":"num","v2":"30","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":1210,"y":3620,"wires":[["4c8de8d8fc6c69d0"],["38c484cca10a9034"],["375762cd0a4d4c14"],["56c4582e548bb895"]]},{"id":"ce6cca6f505ef93a","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"Sensor forecast today + 25 kWh?","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"25","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.solcast_pv_forecast_forecast_today","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":240,"y":3600,"wires":[["890f5520e46cae1d"],["1752b48c28719d16","f183f4fc6b1a331c"]]},{"id":"375762cd0a4d4c14","type":"within-time-switch","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"between 11:00 and 11:59","nameInt":"","positionConfig":"057bcf3e14d99509","startTime":"11:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"11:59","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"*","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"true","withinTimeValueType":"msgInput","outOfTimeValue":"false","outOfTimeValueType":"msgInput","tsCompare":"0","x":1510,"y":3680,"wires":[["1752b48c28719d16","56c4582e548bb895"],[]]},{"id":"38c484cca10a9034","type":"within-time-switch","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"between 12:00 and 12:59","nameInt":"","positionConfig":"057bcf3e14d99509","startTime":"12:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"12:59","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"*","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"true","withinTimeValueType":"msgInput","outOfTimeValue":"false","outOfTimeValueType":"msgInput","tsCompare":"0","x":1510,"y":3620,"wires":[["1752b48c28719d16","56c4582e548bb895"],[]]},{"id":"4c8de8d8fc6c69d0","type":"within-time-switch","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"between 13:00 and 13:59","nameInt":"","positionConfig":"057bcf3e14d99509","startTime":"13:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"13:59","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"*","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"true","withinTimeValueType":"msgInput","outOfTimeValue":"false","outOfTimeValueType":"msgInput","tsCompare":"0","x":1510,"y":3560,"wires":[["1752b48c28719d16","56c4582e548bb895"],[]]},{"id":"3b6f6d4ee842c8c1","type":"inject","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"@ 13:01 turn on charging mode","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"01 13 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":3720,"wires":[["1752b48c28719d16"]]},{"id":"95a0ba63e3ca69cb","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"Low PV mode on?","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.low_pv_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1110,"y":4200,"wires":[[],["d2b29a977bdb375a"]]},{"id":"d6df7e012d644744","type":"trigger-state","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"If Charging mode is switched on--> Release control back to the inverter","server":"82e28109.c824c","version":5,"inputs":0,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.charging_mode"],"substring":[],"regex":[]},"debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"targetType":"entity_id","targetValue":"input_boolean.charging_battery","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"customOutputs":[],"outputInitially":true,"stateType":"str","enableInput":false,"x":350,"y":4140,"wires":[["445276076970c583"],["1f17d0e33e9d4b20"]]},{"id":"1f17d0e33e9d4b20","type":"function","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"Take control of the inverter","func":"// Stel de gewenste waarde in voor de modus van de vermogensregeling via communicatie\nvar desiredMode = [0, 802]; // Active\n\n// Vorm het bericht voor het schrijven naar Modbus\nvar message = {\n    payload: {\n        value: desiredMode,\n        unitid: 1,\n        fc: 16, // Functiecode 16 voor het schrijven van meerdere registers\n        address: 40151,\n        quantity: 2 // Aantal registers om te schrijven\n    }\n};\n\n// Stuur het bericht naar de uitgang van de functie node\nreturn message;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":3920,"wires":[["87af6474acedaea4"]]},{"id":"8fe4018f95c33032","type":"function","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"Release control back to the inverter","func":"// Stel de gewenste waarde in voor de modus van de vermogensregeling via communicatie\nvar desiredMode = [0, 803]; // Inactive\n\n// Vorm het bericht voor het schrijven naar Modbus\nvar message = {\n    payload: {\n        value: desiredMode,\n        unitid: 1,\n        fc: 16, // Functiecode 16 voor het schrijven van meerdere registers\n        address: 40151,\n        quantity: 2 // Aantal registers om te schrijven\n    }\n};\n\n// Stuur het bericht naar de uitgang van de functie node\nreturn message;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1700,"y":4180,"wires":[["87af6474acedaea4"]]},{"id":"445276076970c583","type":"delay","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":920,"y":4200,"wires":[["95a0ba63e3ca69cb"]]},{"id":"d2b29a977bdb375a","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"Charging battery on?","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.charging_battery","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1360,"y":4200,"wires":[[],["8fe4018f95c33032"]]},{"id":"1a6d14b79e0c199f","type":"server-state-changed","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"Is PVgen - houseconsumption pos?","server":"82e28109.c824c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.pvgen_minus_houseconsumption"],"substring":[],"regex":[]},"outputInitially":true,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"gt","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":240,"y":3320,"wires":[["6d43969c0aeb9045"],[]]},{"id":"890f5520e46cae1d","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"Batt > 20%?","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"20","halt_if_type":"num","halt_if_compare":"gte","entity_id":"sensor.sn_3012415982_battery_soc_total","state_type":"num","blockInputOverrides":true,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":750,"y":3600,"wires":[["3e54d5dc94d28988"],["1752b48c28719d16","f183f4fc6b1a331c"]]},{"id":"3e54d5dc94d28988","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"Export Price pos?","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.adjusted_current_electricity_export_price","state_type":"num","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":590,"y":3500,"wires":[["90911db56682001e","abf37ab745426f32","f0ea06f1ee63a808"],["f183f4fc6b1a331c","5e71e4888149be8c"]]},{"id":"08f2b52b24b6c968","type":"delay","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":220,"y":3480,"wires":[["8ba5ffcd2998cd6a"]]},{"id":"39cf46fea141ad7f","type":"within-time-switch","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"between 05:00 and 13:00","nameInt":"","positionConfig":"057bcf3e14d99509","startTime":"05:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"13:00","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"*","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"true","withinTimeValueType":"msgInput","outOfTimeValue":"false","outOfTimeValueType":"msgInput","tsCompare":"0","x":830,"y":3920,"wires":[["1752b48c28719d16"],[]]},{"id":"6d43969c0aeb9045","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"Charging mode automation is on? ","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.charging_mode_automation","state_type":"str","blockInputOverrides":true,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":240,"y":3400,"wires":[["08f2b52b24b6c968"],[]]},{"id":"3760f4901956a180","type":"server-state-changed","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"If current power delivered > 200 W","server":"82e28109.c824c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.electricity_meter_grid_power_usage"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"200","ifStateType":"num","ifStateOperator":"gt","outputOnlyOnStateChange":true,"for":"1","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":240,"y":3780,"wires":[["42bb6c63aac7b997"],[]]},{"id":"3d3905ebd607a5c9","type":"server-state-changed","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"PVgen - houseconsumption neg?","server":"82e28109.c824c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.pvgen_minus_houseconsumption"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"lt","outputOnlyOnStateChange":true,"for":"1","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":3840,"wires":[["42bb6c63aac7b997"],[]]},{"id":"42bb6c63aac7b997","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"charging mode is off?","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.charging_mode","state_type":"str","blockInputOverrides":true,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":3780,"wires":[["f220cad1cf0ba584"],[]]},{"id":"f220cad1cf0ba584","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"Charging batt is off","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.charging_battery","state_type":"str","blockInputOverrides":true,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":3860,"wires":[["8be518ed34f97389"],[]]},{"id":"7bf31bc9d6462229","type":"gate","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":true,"storeName":"memory","x":970,"y":3380,"wires":[["501eb11be5b64972"]]},{"id":"de4f0e8871ef0234","type":"change","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"open","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":3320,"wires":[["7bf31bc9d6462229"]]},{"id":"f183f4fc6b1a331c","type":"change","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"close","rules":[{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":3500,"wires":[["7bf31bc9d6462229"]]},{"id":"2a6ceb92c03f710f","type":"comment","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"4 seasons flow: If forecast of today > 25 kWh --> Charge battery @ a later time.","info":"","x":380,"y":3260,"wires":[]},{"id":"2ddbada2b85c9f2b","type":"function","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"Negative import prices during the day?","func":"const prijzen = msg.data?.new_state?.attributes?.data;\n\nif (!Array.isArray(prijzen)) {\n    msg.payload = \" Geen geldige prijsdata.\";\n    return msg;\n}\n\nconst aangepastePrijzen = prijzen.map((entry) => {\n    let p = (1.02 * entry.price_per_kwh) + 0.004;\n    p += 0.011 + 0.00392 + 0.0433 + 0.0019 + 0.0475;\n    p *= 1.06;\n    return {\n        tijd: entry.start_time,\n        prijs: p\n    };\n});\n\nconst negatief = aangepastePrijzen.filter(p => p.prijs < 0);\n\nmsg.payload = {\n    melding: negatief.length > 0 ? \" Er zijn nog negatieve prijzen!\" : \" Alle prijzen positief.\",\n    negatieve_prijzen: negatief,\n    prijzen: aangepastePrijzen\n};\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":2080,"wires":[["2be4f11d3cea128c"]]},{"id":"2be4f11d3cea128c","type":"switch","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"","property":"payload.melding","propertyType":"msg","rules":[{"t":"cont","v":" Er zijn nog negatieve prijzen!","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":2080,"wires":[["0e930ad2ce45c2d5"],["42812499b9808582"]]},{"id":"0e930ad2ce45c2d5","type":"change","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":2040,"wires":[["916ebbdf127b44ae","4ea3f93c17c8e457"]]},{"id":"256d88ff1b4cf11b","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"Selling mode on? ","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.selling_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1130,"y":2580,"wires":[["0b7f975844db4691"],[]]},{"id":"3f2e4a626f2e6e0d","type":"server-state-changed","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"If import prices are negative?","server":"82e28109.c824c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.adjusted_current_electricity_import_price"],"substring":[],"regex":[]},"outputInitially":true,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"lt","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":240,"y":2180,"wires":[["2ddbada2b85c9f2b","7e3b81dffda5aa90"],["2ddbada2b85c9f2b","a9d58f426256ac08"]]},{"id":"916ebbdf127b44ae","type":"traffic","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"","property_allow":"payload","filter_allow":"false","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"true","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":810,"y":1760,"wires":[["7b346b9d03da2a5f"]]},{"id":"42812499b9808582","type":"change","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":2080,"wires":[["916ebbdf127b44ae","4ea3f93c17c8e457"]]},{"id":"d5906788e9a862e7","type":"api-call-service","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"Turn on zero export + DAC","server":"82e28109.c824c","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.zero_export","input_boolean.dynamic_active_control_dac"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"topic","propertyType":"msg","value":"Turn on zero export + DAC","valueType":"str"}],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_on","x":1460,"y":1900,"wires":[[]]},{"id":"4ea3f93c17c8e457","type":"traffic","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"","property_allow":"payload","filter_allow":"true","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"false","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":810,"y":1900,"wires":[["d5906788e9a862e7"]]},{"id":"359309fc63e68db6","type":"delay","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":240,"y":1800,"wires":[["916ebbdf127b44ae","4ea3f93c17c8e457"]]},{"id":"e3677278ba563855","type":"modbus-flex-write","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"Modbus write node","showStatusActivities":true,"showErrors":true,"showWarnings":true,"server":"a3ba30e733e52b3b","emptyMsgOnFail":true,"keepMsgProperties":true,"delayOnStart":true,"startDelayTime":"1","x":1510,"y":2340,"wires":[[],[]]},{"id":"910f9501cbb93d7e","type":"controltimer","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"","timerType":"loop","timerDurationUnit":"minute","timerDurationType":"num","timerDuration":1,"timerLoopTimeoutUnit":"second","timerLoopTimeoutType":"num","timerLoopTimeout":0,"loopTimeoutMessageType":"str","loopTimeoutMessage":"LOOP_TIMEOUT","timerMaxLoopIterationsType":"num","timerMaxLoopIterations":0,"loopMaxIterationsMessageType":"str","loopMaxIterationsMessage":"MAX_LOOP_ITERATIONS","isRunningTimerProgressVisible":true,"outputReceivedMessageOnTimerTrigger":true,"outputReceivedMessageOnTimerHalt":false,"startTimerOnReceivalOfUnknownMessage":false,"resetTimerOnReceivalOfUnknownMessage":false,"resetTimerOnReceivalOfStartAction":true,"continueTimerOnReceivalOfStartAction":false,"isDebugModeEnabled":false,"timerTriggeredMessageType":"str","timerTriggeredMessage":"START","timerHaltedMessageType":"str","timerHaltedMessage":"STOP","isStartActionEnabled":true,"isStopActionEnabled":true,"isResetActionEnabled":true,"isPauseActionEnabled":true,"isContinueActionEnabled":true,"actionPropertyNameType":"str","actionPropertyName":"payload","startActionNameType":"str","startActionName":"START","stopActionNameType":"str","stopActionName":"STOP","resetActionNameType":"str","resetActionName":"RESET","pauseActionNameType":"str","pauseActionName":"PAUSE","continueActionNameType":"str","continueActionName":"CONTINUE","x":1180,"y":2080,"wires":[["cf33091e38681f6b"],[]]},{"id":"7e3b81dffda5aa90","type":"change","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"Start timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"START","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":2220,"wires":[["910f9501cbb93d7e"]]},{"id":"a9d58f426256ac08","type":"change","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"STOP timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":2340,"wires":[["910f9501cbb93d7e"]]},{"id":"5e71e4888149be8c","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"exept if import prices are negative","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.adjusted_current_electricity_import_price","state_type":"num","blockInputOverrides":true,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":700,"y":3700,"wires":[["122c0d1005052e54"],["1752b48c28719d16"]]},{"id":"2a96b3b673296e7b","type":"function","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"Active setpoint 0 w (Balance) 40149","func":"// Define the Modbus function code and register number\nvar fc = 16; // Function code for Write Multiple Registers\nvar sa = 40149; // Starting register number for \"active power setpoint\"\n\n// Define the setpoint value (0)\nvar setpointValue = 0;\n\n// Convert the setpoint value to a 32-bit signed integer\nvar intValue = Math.round(setpointValue); // Round the value to the nearest integer\nvar buf = Buffer.alloc(4); // Use 4 bytes for a 32-bit signed integer\nbuf.writeInt32BE(intValue);\n\n// Create the Modbus message object\nvar message = {\n    payload: {\n        value: buf,\n        'fc': fc,\n        'unitid': 1, // Modify if needed\n        'address': sa,\n        'quantity': 4, // Number of registers to write (adjust to match the length of the payload array)\n        'datatype': 'S32', // Set the data type to S32\n        'format': 'FIX0', // Set the data format to FIX0\n        'access': 'WO', // Set the access to WO (Write Only)\n        'name': 'active power setpoint' // Set the name to match the SMA Speedwire name\n    }\n};\n\n// Send the message to the output\nreturn message;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":2160,"wires":[["7e3b81dffda5aa90","e3677278ba563855"]]},{"id":"cf33091e38681f6b","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"Rank < 2","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"2","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.epex_spot_data_rank","state_type":"num","blockInputOverrides":true,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1560,"y":2060,"wires":[["5d8a5664d3a9710f"],["2a96b3b673296e7b"]]},{"id":"5d8a5664d3a9710f","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"battery = 100%?","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"100","halt_if_type":"num","halt_if_compare":"gte","entity_id":"sensor.sn_3012415982_battery_soc_total","state_type":"num","blockInputOverrides":true,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1760,"y":2060,"wires":[["a9d58f426256ac08"],["eaf60f9c29be39e9"]]},{"id":"8ba5ffcd2998cd6a","type":"within-time-switch","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"between 05:00 and 13:00","nameInt":"","positionConfig":"057bcf3e14d99509","startTime":"05:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"13:00","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"*","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"true","withinTimeValueType":"msgInput","outOfTimeValue":"false","outOfTimeValueType":"msgInput","tsCompare":"0","x":230,"y":3540,"wires":[["ce6cca6f505ef93a"],[]]},{"id":"abf37ab745426f32","type":"delay","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":560,"y":3380,"wires":[["7bf31bc9d6462229"]]},{"id":"916bd1013ec18046","type":"delay","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":540,"y":2720,"wires":[["9c11d65b4f38a9c0"]]},{"id":"ab1f308c508eb455","type":"delay","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":540,"y":2780,"wires":[["0b33e3f58077bf8f"]]},{"id":"9c11d65b4f38a9c0","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"recheck","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"25","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.solcast_pv_forecast_forecast_today","state_type":"num","blockInputOverrides":true,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":700,"y":2720,"wires":[["4bb2d92a8c089c97"],[]]},{"id":"0b33e3f58077bf8f","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"recheck","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"25","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.solcast_pv_forecast_forecast_today","state_type":"num","blockInputOverrides":true,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":700,"y":2780,"wires":[["5c7f306c15122a05"],[]]},{"id":"527808c6d5639fe3","type":"delay","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":520,"y":2980,"wires":[["09fa3f45db36e539"]]},{"id":"4a3977e0c6dee1ca","type":"delay","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":520,"y":3040,"wires":[["256a6f4ff42d293f"]]},{"id":"09fa3f45db36e539","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"recheck","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"25","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.solcast_pv_forecast_forecast_tomorrow","state_type":"num","blockInputOverrides":true,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":680,"y":2980,"wires":[["2f78e31c564e9d76"],[]]},{"id":"256a6f4ff42d293f","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"recheck","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"25","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.solcast_pv_forecast_forecast_tomorrow","state_type":"num","blockInputOverrides":true,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":680,"y":3040,"wires":[["2f1f180648389cce"],[]]},{"id":"4505a7a23a17c498","type":"within-time-switch","z":"a5ecbc5e135cb5e8","g":"cea3b0a1f2a76b11","name":"Nov until Feb","nameInt":"","positionConfig":"057bcf3e14d99509","startTime":"0:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"23:59","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"0,1,10,11","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"true","withinTimeValueType":"msgInput","outOfTimeValue":"false","outOfTimeValueType":"msgInput","tsCompare":"0","x":410,"y":4380,"wires":[["0c3e287ec72b69c7"],["c6e47e0a1d93dd6a"]]},{"id":"c6e47e0a1d93dd6a","type":"function","z":"a5ecbc5e135cb5e8","g":"cea3b0a1f2a76b11","name":"Houseconsumption - 2.5 Kw","func":"// Controleer of msg.payload een geldig getal is\nif (isNaN(msg.payload)) {\n    node.warn(\"Payload is geen geldig getal: \" + msg.payload);\n    return null; // Stopt de uitvoering als het geen getal is\n}\n\n// Aftrekken: houseConsumption - 2500\nvar houseConsumption = parseFloat(msg.payload);\nvar result = houseConsumption - 2500;\nmsg.payload = result;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":4440,"wires":[["14c9b8ee6764a5d8"]]},{"id":"eaf60f9c29be39e9","type":"api-call-service","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"Turn on Charging Battery","server":"82e28109.c824c","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.charging_battery"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_on","x":2010,"y":2060,"wires":[["45660a5b1f7ea660"]]},{"id":"714dfe8af726a1ee","type":"comment","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"If import prices get negative --> charge battery @ 3 most negative prices","info":"","x":990,"y":1820,"wires":[]},{"id":"17125e53f92a95ec","type":"ha-wait-until","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"Batt soc 100%","server":"82e28109.c824c","version":3,"outputs":1,"entities":{"entity":["sensor.sn_3012415982_battery_soc_total"],"substring":[],"regex":[]},"property":"state","comparator":"gte","value":"100","valueType":"num","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"x":2220,"y":2140,"wires":[["eca1389180e668c3"]]},{"id":"eca1389180e668c3","type":"api-call-service","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"Turn on DAC","server":"82e28109.c824c","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.dynamic_active_control_dac"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"topic","propertyType":"msg","value":"Turn on zero export + DAC","valueType":"str"}],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_on","x":2210,"y":2200,"wires":[[]]},{"id":"45660a5b1f7ea660","type":"api-call-service","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"Turn off DAC + set APLS to 0%","server":"82e28109.c824c","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.dynamic_active_control_dac"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"0","valueType":"num"},{"property":"topic","propertyType":"msg","value":"DAC + APLS 0%","valueType":"str"}],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_off","x":2090,"y":1980,"wires":[["7ff509aa6544d71b","17125e53f92a95ec"]]},{"id":"501eb11be5b64972","type":"gate","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":true,"storeName":"memory","x":1190,"y":3380,"wires":[["122c0d1005052e54"]]},{"id":"56c4582e548bb895","type":"change","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"close","rules":[{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":3460,"wires":[["501eb11be5b64972"]]},{"id":"cfa70a6215e0ddb0","type":"inject","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"open @ 5:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 05 * * *","once":false,"onceDelay":0.1,"topic":"control","payload":"open","payloadType":"str","x":1060,"y":3280,"wires":[["501eb11be5b64972"]]},{"id":"7ee372802a3dd8c9","type":"server-state-changed","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"> 500 W Close gate","server":"82e28109.c824c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.electricity_meter_grid_power_return"],"substring":[],"regex":[]},"outputInitially":true,"stateType":"num","ifState":"500","ifStateType":"num","ifStateOperator":"gt","outputOnlyOnStateChange":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"close","valueType":"str"},{"property":"topic","propertyType":"msg","value":"control","valueType":"str"}],"x":210,"y":1440,"wires":[["7152c2d542d59c3c","689eea24ba35c0bb"],["486707643b3f8954"]]},{"id":"3b2beca98bc6a253","type":"gate","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"","controlTopic":"control","defaultState":"closed","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":true,"storeName":"memory","x":810,"y":1400,"wires":[["9cfb26d4e608f9cb"]]},{"id":"7152c2d542d59c3c","type":"change","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"open","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1320,"wires":[["3b2beca98bc6a253"]]},{"id":"486707643b3f8954","type":"delay","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"","pauseType":"rate","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":440,"y":1480,"wires":[["7bada12be3e88a28"]]},{"id":"689eea24ba35c0bb","type":"delay","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":440,"y":1380,"wires":[["3b2beca98bc6a253"]]},{"id":"7bada12be3e88a28","type":"delay","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":620,"y":1480,"wires":[["3b2beca98bc6a253"]]},{"id":"6db13af5d4362d94","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"Check SOC of Batt?","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"85","halt_if_type":"num","halt_if_compare":"gte","entity_id":"sensor.sn_3012415982_battery_soc_total","state_type":"num","blockInputOverrides":true,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":320,"y":1040,"wires":[["97226d384540ec7c","85334ce2681f4d19"],[]]},{"id":"1f09579f40a5659f","type":"api-call-service","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"Turn on DAC","server":"82e28109.c824c","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.dynamic_active_control_dac"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_on","x":790,"y":1040,"wires":[[]]},{"id":"85334ce2681f4d19","type":"delay","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"","pauseType":"rate","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":600,"y":1040,"wires":[["1f09579f40a5659f"]]},{"id":"f0ea06f1ee63a808","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"Selling electricity?","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.selling_electricity","state_type":"str","blockInputOverrides":true,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":750,"y":3420,"wires":[["f183f4fc6b1a331c"],["de4f0e8871ef0234"]]},{"id":"f80f18ab80f4bc54","type":"gate","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"","controlTopic":"control","defaultState":"closed","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":true,"storeName":"memory","x":1450,"y":1280,"wires":[["97226d384540ec7c"]]},{"id":"7ca189cda7724503","type":"change","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"open","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":1280,"wires":[["f80f18ab80f4bc54"]]},{"id":"fcd17a22c75037cd","type":"change","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"close","rules":[{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":1340,"wires":[["f80f18ab80f4bc54"]]},{"id":"cfeaf8dd9c68dc07","type":"comment","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"If export does happen, turn on DAC + reset after 15 min","info":"","x":320,"y":1260,"wires":[]},{"id":"f3ee9620e9f9693a","type":"comment","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"if export prices get negatiev or if there are negative import prices during the day? ","info":"","x":420,"y":1700,"wires":[]},{"id":"400164f68dd2943f","type":"comment","z":"a5ecbc5e135cb5e8","g":"ee93724ef816afff","name":"if export prices get negative","info":"","x":860,"y":1720,"wires":[]},{"id":"5c37c5e5413eb1cb","type":"api-call-service","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"Selling electricity on","server":"82e28109.c824c","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.selling_electricity"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_on","x":1440,"y":2800,"wires":[[]]},{"id":"0b7f975844db4691","type":"api-call-service","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"Selling electricity off","server":"82e28109.c824c","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.selling_electricity"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_off","x":1450,"y":3040,"wires":[[]]},{"id":"318aa99535b58171","type":"server-state-changed","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"Selling electricity","server":"82e28109.c824c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.selling_electricity"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":1440,"y":2700,"wires":[["c49975cc3e7c2ef1","21598e67a861ee1d"],["ecd23aefe8476c97"]]},{"id":"18de9d35056e24a0","type":"server-state-changed","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"If SOC is 2% --> stop timer","server":"82e28109.c824c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.sn_3012415982_battery_soc_total"],"substring":[],"regex":[]},"outputInitially":true,"stateType":"num","ifState":"2","ifStateType":"num","ifStateOperator":"lte","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":1470,"y":2580,"wires":[["ecd23aefe8476c97","296771fcc858390c"],[]]},{"id":"296771fcc858390c","type":"api-call-service","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"Selling mode automation on","server":"82e28109.c824c","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.selling_mode"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_on","x":1940,"y":2640,"wires":[["23e35b6f29ca850e"]]},{"id":"ea12cb701a6899f5","type":"comment","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"The actual selling flow","info":"","x":1460,"y":2520,"wires":[]},{"id":"8be518ed34f97389","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"Selling electricity is off?","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.selling_electricity","state_type":"str","blockInputOverrides":true,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":3920,"wires":[["39cf46fea141ad7f"],[]]},{"id":"8ef19e141d2e7046","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"Not when selling electricity","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.selling_electricity","state_type":"str","blockInputOverrides":true,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":820,"y":3980,"wires":[["9870507e77022fe1"],[]]},{"id":"b7a05da36d833e58","type":"api-current-state","z":"a5ecbc5e135cb5e8","g":"09442c4a77733d8a","name":"Not when selling electricity","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.selling_electricity","state_type":"str","blockInputOverrides":true,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":820,"y":4040,"wires":[["b2c46bbb3b07dead"],[]]},{"id":"dc42af18089b39ba","type":"server-state-changed","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"if export price is negative?","server":"82e28109.c824c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.adjusted_current_electricity_export_price"],"substring":[],"regex":[]},"outputInitially":true,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"lte","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":1470,"y":2640,"wires":[["296771fcc858390c","ecd23aefe8476c97"],[]]},{"id":"23e35b6f29ca850e","type":"api-call-service","z":"a5ecbc5e135cb5e8","g":"7e55bd4b7e923b76","name":"Selling electricity off","server":"82e28109.c824c","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.selling_electricity"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_off","x":2190,"y":2640,"wires":[[]]},{"id":"82e28109.c824c","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"dbbf6dfc33b249fe","type":"ha-entity-config","server":"82e28109.c824c","deviceConfig":"","name":"Active power limit","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Active power limit"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":"diagnostic"},{"property":"device_class","value":"power"},{"property":"unit_of_measurement","value":"W"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"057bcf3e14d99509","type":"position-config","name":"","isValide":"true","longitude":"0","latitude":"0","angleType":"deg","timeZoneOffset":99,"timeZoneDST":0,"stateTimeFormat":"3","stateDateFormat":"12","contextStore":""},{"id":"a3ba30e733e52b3b","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"queueLogEnabled":true,"failureLogEnabled":true,"tcpHost":"192.168.178.72","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":3,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true,"showErrors":true,"showWarnings":true,"showLogs":true},{"id":"2c08556d8ea86ac0","type":"position-config","name":"Time control","isValide":"true","angleType":"deg","timeZoneOffset":"99","timeZoneDST":"0","stateTimeFormat":"3","stateDateFormat":"12","contextStore":""}]