zero export only.json
[{"id":"6eed0be501e42862","type":"tab","label":"Zero export","disabled":false,"info":"","env":[]},{"id":"a4b8c5e6cc8de946","type":"server-state-changed","z":"6eed0be501e42862","name":"Active power limit slider","server":"82e28109.c824c","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_number.active_power_limit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":240,"wires":[["100bbee941b43ab6","0d2a0201ea251822"]]},{"id":"0d2a0201ea251822","type":"function","z":"6eed0be501e42862","name":"* 100","func":"var lim = msg.payload *100;\nreturn [{payload: lim}];","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":220,"wires":[["3f0d532681887a8e"]]},{"id":"100bbee941b43ab6","type":"function","z":"6eed0be501e42862","name":"* 32","func":"var lim = msg.payload *32;\nreturn [{payload: lim}];","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":300,"wires":[["c1e5b56e781aa664"]]},{"id":"c1e5b56e781aa664","type":"ha-sensor","z":"6eed0be501e42862","name":"Active power limit sensor","entityConfig":"dbbf6dfc33b249fe","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":730,"y":300,"wires":[[]]},{"id":"3f0d532681887a8e","type":"modbus-write","z":"6eed0be501e42862","name":"SMA Modbus Write 41255 ( Limit ),","showStatusActivities":true,"showErrors":true,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"41255","quantity":"1","server":"a3ba30e733e52b3b","emptyMsgOnFail":true,"keepMsgProperties":true,"delayOnStart":false,"startDelayTime":"","x":760,"y":200,"wires":[[],[]]},{"id":"500bb841a18d9202","type":"api-call-service","z":"6eed0be501e42862","name":"Active power limit slider","server":"82e28109.c824c","version":7,"debugenabled":false,"action":"input_number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_number.active_power_limit"],"labelId":[],"data":"{\"value\":{{payload}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"blockInputOverrides":false,"domain":"input_number","service":"set_value","output_location":"","output_location_type":"none","service_domain":"input_number","mergecontext":"","x":1890,"y":460,"wires":[[]]},{"id":"0bc6bdbfe14e8454","type":"function","z":"6eed0be501e42862","name":"Power limit factor","func":"var marge = 0;\nvar Limfactor;\n\nif (msg.payload > 3200) {\n    Limfactor = (3200 + marge) / 3200;\n} else {\n    Limfactor = (msg.payload + marge) / 3200;\n}\n\nreturn [{ payload: Limfactor }];\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":460,"wires":[["c8f31383be3f7b6b"]]},{"id":"c8f31383be3f7b6b","type":"function","z":"6eed0be501e42862","name":"abs","func":"var abs = Math.abs(msg.payload);\n\nreturn [{ payload: abs }]","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1330,"y":460,"wires":[["dd01396a00688d69"]]},{"id":"dd01396a00688d69","type":"function","z":"6eed0be501e42862","name":"* 100","func":"var lim = msg.payload *100 ;\nvar limit = Math.ceil(lim) ; \nreturn [{payload: limit}];","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":460,"wires":[["44a968628a785a4f"]]},{"id":"44a968628a785a4f","type":"delay","z":"6eed0be501e42862","name":"","pauseType":"rate","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1660,"y":460,"wires":[["500bb841a18d9202"]]},{"id":"8d0764cd70fc5fa7","type":"api-current-state","z":"6eed0be501e42862","name":"If zero export is on","server":"82e28109.c824c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.zero_export","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":670,"y":480,"wires":[["05b7a2529dce1237"],[]]},{"id":"7b983c868f210e5c","type":"poll-state","z":"6eed0be501e42862","name":"houseconsumption","server":"82e28109.c824c","version":3,"exposeAsEntityConfig":"","updateInterval":"1","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":true,"outputOnChanged":false,"entityId":"sensor.current_houseconsumption","stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"Home consumption","valueType":"str"}],"x":150,"y":480,"wires":[["addd74de63eb5284"]]},{"id":"addd74de63eb5284","type":"function","z":"6eed0be501e42862","name":"Houseconsumption - 60","func":"// Controleer of msg.payload een geldig getal is\nif (isNaN(msg.payload)) {\n    node.warn(\"Payload is geen geldig getal: \" + msg.payload);\n    return null; // Stopt de uitvoering als het geen getal is\n}\n\n// Aftrekken: houseConsumption - 60\nvar houseConsumption = parseFloat(msg.payload);\nvar result = houseConsumption - 60;\nmsg.payload = result;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":480,"wires":[["8d0764cd70fc5fa7"]]},{"id":"05b7a2529dce1237","type":"gate","z":"6eed0be501e42862","name":"","controlTopic":"control","defaultState":"closed","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":true,"storeName":"memory","x":950,"y":460,"wires":[["0bc6bdbfe14e8454"]]},{"id":"289b3d10a2749d7e","type":"server-state-changed","z":"6eed0be501e42862","name":"If PV starts producing --> open gate","server":"82e28109.c824c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.sn_3012415982_pv_power"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"gt","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"open","valueType":"str"},{"property":"topic","propertyType":"msg","value":"control","valueType":"str"}],"x":200,"y":360,"wires":[["05b7a2529dce1237"],["7a24b947f812b2f3"]]},{"id":"7a24b947f812b2f3","type":"change","z":"6eed0be501e42862","name":"change to close","rules":[{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":420,"wires":[["05b7a2529dce1237"]]},{"id":"82e28109.c824c","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"dbbf6dfc33b249fe","type":"ha-entity-config","server":"82e28109.c824c","deviceConfig":"","name":"Active power limit","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Active power limit"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":"diagnostic"},{"property":"device_class","value":"power"},{"property":"unit_of_measurement","value":"W"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"a3ba30e733e52b3b","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"queueLogEnabled":true,"failureLogEnabled":true,"tcpHost":"192.168.178.102","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":3,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true,"showErrors":true,"showWarnings":true,"showLogs":true}]